:root {
  --background: #f7f7fax ;  /*#f5f7fa*/
  --accent: #ffffff;
  --primary: #1C77FF;
  --secondary: #FF7C7C;
  --text: #2c323f;
  --sidebar: #ffffff;
  --primary-hover: #1563d7;
  --tab-hover: #acb1bdc2;
  --tab-active: #ffffff;
  --sidebar-focus: #0080ff97;
  --grid-header: #f1f5f9;
  --border:#91A3B0;
}

.navbar {
  background-color:var(--accent);
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--border);
  font-family: 'Nunito Sans', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1.6rem;
  background: none;
}
.toggle-botton{
  width: 22px;
  margin-top: 8px;
}

.nav-menu {
  background-color:var(--accent);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0 px;
  left: -100%;
  transition: 850ms;
  border-right:1px solid var(--border) ;
  font-family: 'Nunito Sans', sans-serif;
  z-index: 1;
  box-shadow: 1px 5px 30px rgb(154, 154, 177);
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  font-family: 'Nunito Sans', sans-serif;
}
.logout{
  color:red;
}

.nav-text a {
  text-decoration: none;
  color: var(--text);
  font-size: 18px;
  width: 95%;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  font-family: 'Nunito Sans', sans-serif;
}

.nav-text a:hover {
  color: var(--primary);
}
.nav-text a:focus {
  background-color: var(--primary);
  color: #fff;
}

.nav-menu-items {
  width: 100%;
  margin-left: -50px;
  margin-top:-5px;
}

.navbar-toggle {
  background-color: var(--accent);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: -1;
  /* border-bottom: 1px solid var(--border); */
}

span {
  margin-left: 16px;
}

.bit-logo{
  max-width: 50px;
  max-height: 50px;
  margin-left: 15px;
}
.nav-title{
  font-family: 'Nunito Sans', sans-serif;
  color:var(--text);
  margin-left: 15px;
  text-wrap: nowrap;
}
.nav-user{
  width: 30px;
  margin-left: auto;
  margin-right: 30px;
  color: #4f4b4b;
}
@media(max-width:600px){
  .nav-title{
    font-size: 1.5em;
  }
  .toggle-botton{
    width: 15px;
    margin-top: 8px;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 200ms;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg);
}



ul{
  list-style: none;
  /* word-wrap: break-word;  */
}

a {
  text-decoration: none;
}

.menu-trigger img{
  position: absolute;
  top: 20px;
  right: 35px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-menu{
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 5px 20px;
  width: auto;
  box-shadow:1px 1px 10px var(--border);
  border:1px solid var(--border);
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}



.dropdown-menu ul li:hover a{
  cursor: pointer;
}

.dropdown-menu ul li:hover img{
  opacity: 1;
}

.dropdownItem{
  display: flex;
  margin-bottom: 10px;
}

.dropdownItem a{
  margin-left: -45px;
  transition: var(--speed);
}